body{
    background-color: beige;
}

table{
    margin: 50px;
    border-collapse: collapse;
}

#table-1 th, #table-1 tr, #table-1 td {
    border: 5px solid lightseagreen;
    color: white;
    padding: 5px;
}

#judul-1 {
    background-color: lightseagreen;
}

#tr-1{
    background-color: rgb(107, 244, 107);
}

td.nomor {
    text-align: center;
}

#table-1 tr td{
    background-color:  rgb(56, 199, 56);
}




#table-2 th, #table-2 tr, #table-2 td {
    border: 5px solid rgb(0, 183, 255);
    color: white;
    padding: 5px;
}

#judul-2 {
    background-color: rgb(175, 129, 4);
}

#tr-2{
    background-color: rgb(183, 255, 0);
}

td.nomor {
    text-align: center;
}

#table-2 tr td{
    background-color:  rgb(175, 129, 4);
}


#table-2 th, #table-2 tr, #table-2 td {
    border: 5px solid rgb(11, 130, 249);
    color: white;
    padding: 5px;
}

#judul-2 {
    background-color: rgb(11, 130, 249);
}

#tr-2{
    background-color: rgb(0, 183, 255);
}

td.nomor {
    text-align: center;
}

#table-2 tr td{
    background-color:  rgb(1, 208, 255);
}